body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  color: #FFD700;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}
h2{
  color: #C0C0C0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bold;
}

.top-container{
  background-color: #603601;
  margin: 0px;
  padding-top: 100px;
  position: relative;
}

.middle-container{
  margin: 50px auto;
}
.bottom-container{
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-row{
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}
.Agile-SDLC{
  margin-right: 30px;
  width: 25%;
  float: left;
}
.Design-and-Development{
  margin-left: 30px;
  width: 25%;
  float: right;
}
hr{
  border-style: dotted none none;
  border-color: #EAF6F6;
  border-width: 20px;
  width: 30%;
  margin: 100px auto;
}

.bottom-container{
  background-color: #603601;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
}

.intro{
  margin: auto;
  width: 30%;
}
.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #603601;
  padding: 10px 10px 10px 10px;
  border: solid #603601 0px;
  text-decoration: none;
}

.btn:hover {
  background: #603601;
  text-decoration: none;
}
.contact-me{
  line-height: 50px;
}
.footer-link{
  color: #C0C0C0;
  margin: 20px;
}
.copyright{
  font-size: 0.9rem
}
